:root{
    --blanco: #FFFFFF;
    --oscuro: #444444;
    --primario:#237C2C;
    --secundario:#18561E;
    --hueso: #F6F6F6;
    --gris: #777777;
    --title-font: 'Roboto', sans-serif;
    --sub-font: 'Montserrat', sans-serif;
    --p-font:'Raleway', sans-serif;
}

.about-pj{
    margin: 4rem;
}

.about-pj div{
    margin-bottom: 4rem;
}

.about-pj-title{
    font-family: var(--title-font);
    font-size: 2.5rem;
}

.about-pj-legend{
    font-family: var(--p-font);
    font-size: 1.3rem;
    line-height: 2;
}

.about-pj-subt{
    font-family: var(--sub-font);
    font-size: 2rem;
}

@media ( min-width: 768px ){
     .about-pj{
        display: flex;
        margin: 4rem auto;
     }
     .about-pj div{
        margin: 0 2rem;
    }
     .about-pj-title{
        font-family: var(--title-font);
        font-size: 3rem;
    }
    
    .about-pj-legend{
        font-family: var(--p-font);
        font-size: 1.5rem;
    }
    
    .about-pj-subt{
        font-family: var(--sub-font);
        font-size: 2.5rem;
    }
}


