@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
  --blanco: #FFFFFF;
  --oscuro: #444444;
  --primario: #237C2C;
  --secundario: #18561E;
  --hueso: #F6F6F6;
  --gris: #777777;
  --title-font: 'Roboto', sans-serif;
  --sub-font: 'Montserrat', sans-serif;
  --p-font: 'Raleway', sans-serif;
}


/*Globales*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/*Header*/
header{
  display: flex;
  align-items: center;
  background-color: #18561E;
  height: 100px;
 }
 .logo-notificacion{
  margin-left: 60.5%;
 width: 38px;
 padding-left: 110px;
 }
 .texto-header{
  padding-left: 20px;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 25px;
 font-weight: 500;
 }
 .logo-fisc{
 width: 100px;
 padding-left: 40px;
 }
 .perfil-main{
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .perfil-main strong{
  color: #FFFFFF;
  font-family: 'Monsterrat';
  font-size: 23px;
  padding-right: 10px;
 }
 .perfil-main img{
  width: 45px;
 }


/*-------Footer---------*/

footer {
  margin-top: auto;
  font-size: 1.2rem;
}

footer .footer-container {
  font-family: "Raleway", sans-serif;
  background: #444444;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer .footer-container .footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 30px;
}

footer .footer-container .footer .info-footer {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

footer .footer-container .footer .info-footer img {
  height: 100px;
  width: 100px;
  margin-right: 30px;
}

footer .footer-container .footer .contacto {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-container .footer .contacto h1 {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 1.6rem;
}

footer .footer-container .footer .contacto p {
  margin-top: 0;
}

footer .footer-container .footer .redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .footer .redes img {
  height: 40px;
  width: 40px;
  padding: 10px;
}

footer .footer-container .copyright p {
  color: #FFFFFF;
}

  @media ( max-width: 767px ){
       
  }

/*Nav*/

.container{
  display: flex;
  height: 100%;
}

.sidebar{
    width: 260px;
    background-color: #333;
    color: white;
    background-color: var(--secundario);
    max-width: 100%;
    padding: 40px 10px;
    margin: 0;
    position: sticky;
    top: 0;
}

.content{

    flex: 1;
    padding: 20px;
    flex-direction: column;
}

.nav-options{
  height: 100%;
  padding: 0px 20px;
 }

.nav-option{
  display: block;
  text-decoration: none;
  color: white;
  font-family: var(--sub-font);
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 2rem;
  text-wrap: pretty;
  border-radius: 0.3rem;
}

.nav-option-selected{
  background-color: var(--primario);
}

.nav-option:hover{
  background-color: var(--primario);
}