

/*Header*/
.header-banner{
    background-image: url(../img/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.shadowimg{
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;
    height: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.logo{
    margin: 2rem;
    width: 30%;
}

.h-title{
    margin: 1rem;
}

.h-subtitle{
    margin: 0rem 1rem 5rem 1rem;
}

/*Historia*/

.cont-hist{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cont-img-hist{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.img-hist{
    width: 85%;
}

.hist-legend{
    margin: 2rem;
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 5%;
}

.legend{
    font-size: 2.3rem;
    margin: 1rem;
    color: white;
    text-wrap:pretty;
    line-height: 1.5;
}

.hist-subtitle{
    font-size: 2rem;
    margin: 1rem;
    text-wrap:pretty;
    line-height: 1.5;
    color: white;
}

.categories{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cate-items{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}
/*Gastronomía/Tiendas/Eventos*/

.gastronomia{
    background-image: url(../img/gastronomia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 8rem;
}

.tiendas{
    background-image: url(../img/mercado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 8rem;    
}

.eventos{
    background-image: url(../img/eventos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 8rem;
}

/*about us*/
.cont-nosotros{
    background-color: var(--primaryColor);
    padding: 3rem;
}

.nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-cards{
    margin: 0.5rem;
    background-color: var(--secondaryColor);
    padding: 0.5rem;
    border-radius:5%;
}


.card-img-bg{
    background-color: #30B995;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.card-names{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros-title{
    color: white;
    padding: 2rem;
}

/*footer*/
.f-banner{
    background-image: url(../img/ban2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
}
.cont-contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-contactForm h3{
    color: white;
    font-size: 2.4rem;
}

.contactForm{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.btn{
    padding: 1rem;
    background-color: #30B995;
    width: 100%;
    border-radius: 2rem;
    margin: 1rem;
}

.btn:hover{
    background-color: aquamarine;
}

.cont-footer{
    background-color: var(--primaryColor);
    padding: 1rem; 
    color: white;
}
.cont-info{
    color: white;
    width: 18rem;
    font-size: 1.3rem;
    text-wrap: pretty;
    line-height: 1.5;
}

.cont-redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes{
    width: 60%;
}

.copyrigth{
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}