
/*secciones forma*/
main {
    width: 70%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: #333;
}

.profile-info {
    text-align: center;
    padding: 20px;
    height: 510px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
}

.profile-info form {
    padding: 5%;
}

/*Filtro*/
.filter-column {
    padding: 20px;
}
.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.seccion {
    display: flex;
    flex-direction: column;

    border-top: 1px solid #ccc;

}
h4 {
    margin-bottom: 10px;
    font-size: 18px;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
button:hover {
    background-color: #45a049;
}

/*Local*/

.local-section {
    flex-basis: 80%;
}

.local-form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.info-column {
    padding: 20px;
}

.locale {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.locale img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.locale-info {
    flex: 1;
}

.local-section {
    flex-basis: 80%;
    justify-content: space-between;
    align-items: center;
  
}

.local-form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.local-form img{
    width: 120px;
    height: 100px;
    margin-right: 10px; 
}
.local-form h3{
    text-align: left;
}
