body{
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}
.fondito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;

    background-image: url(../../static/img/ban2.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    opacity: 80%; 
}

.login-container {
    background-color: #be1704 ;
    color: white;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-c {
    margin-bottom: 10px;
}

.formulario-c label {
    font-weight: bold;
    display: block;
}

.formulario-c input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn {
    background-color: #ef3620;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

.login-btn:hover {
    background-color: #fdfc8b;
    color: black;

    font-weight: 500;
}

.registro{
    text-decoration: none;
    color: #fff;
}

.olvido{
    color: #ccc;
    text-align: center;
}
.olvido:hover{
    color: #fdfc8b;
}

/*PIE*/
.text {
    font-size: medium;
    color: white;
    text-align: center;
}

.redes {
    padding: 1px;
}
.bar {
    background-color: #ef3620;
    font-size: large;
    width: 230vh;
    height: 100vh;
}

.displayno{
    display: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 1rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #be1704;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .auth-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .auth-text{
    font-size: 1rem;
  }
