html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

/*Nav*/
body{
    display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  /*--------------  PERFIL DEL ADMIN -----------------*/
main {
  width: 70%;
margin-left: 10%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: #333;
}
.profile-info {
  text-align: center;
  padding: 20px;
  height: 510px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 15%;
}
.profile-info form {
  padding: 5%;
}
.profile-info img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}
.profile-info button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.profile-info button:hover {
  background-color: #45a049;
}
.personal{
  margin-top: 10%;
}
.contador{
  margin-top: 20%;
}


/*LOCAL*/

#local_img{
  width: 100px;
  height: 100px;
}
.agregar-local-section {
  flex-basis: 80%;
}

.local-form {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.columna-1,
.columna-2 {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.imagen-section,
.provincia-section {
  margin-bottom: 20px;
}

.fila-descripcion {
  margin-bottom: 20px;
}

.local-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.local-form input,
.local-form select,
.local-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid  #be1704; 
  background-color: #f8f8f8;
  border-radius: 4px;
}

.local-form textarea {
  resize: vertical;
}

.local-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.local-form button:hover {
  background-color: #45a049;
}

/*------------ RESPONSIVE--------------*/
/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .sidebar {
      display: none;
  }

  main {
      flex-direction: column;
      padding: 10px;
      margin-left: 50px;

  }

  .profile-info,
  .agregar-local-section {
      width: 100%;
      margin-bottom: 20px;
  }

  .columna-1,
  .columna-2 {
      width: 100%;
      display: block;
      margin-right: 0;
      margin-bottom: 20px;
  }

  .local-form label,
  .local-form input,
  .local-form select,
  .local-form textarea {
      width: calc(100% - 20px);
      margin-right: 0;
  }

  .nav-option {
      padding: 10px; 
  }
}


/* Media Query para tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  main {
    width: 90%;
    margin-left: 50px;

}
  .profile-info{
    width: 100%;
  }
  .agregar-local-section {
      flex-basis: 70%;
  }

  .local-form label,
  .local-form input,
  .local-form select,
  .local-form textarea {
      width: (100% );
      margin-right: 5px;
  }
}

/*PESTAÑAS*/
.tabs {
  display: flex;
  overflow: hidden;
  margin-left: 40px;

}
.tab-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px 4px 0 0; /* Bordes redondeados solo arriba */
  cursor: pointer;
  font-size: 16px;
  margin-right: 2px; /* Espacio entre pestañas */
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #45a049;
}
