body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*Menu*/
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ef3620;
    padding: 1em;
}

.logo {
    width: 70px;
}

.item {
    color: #fff;
    text-decoration: none;
    padding: 1em 1.5em;
    margin: 0 1em;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #be1704;
}

.user {
    width: 50px;
    padding: 1em;
}

/*Perfil*/
.contador {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
}
.ranking,
.puntos {
    flex: 1;
    text-align: center;
}

.ranking p,
.puntos p {
    margin: 0;
}

