body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.fondo {
    background-image: url(./img/fondo.webp);
    height: 300px;
}

.menu-1 {
    background-color: #ef3620;
    padding: 1em;
}

.item {
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0 2em;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #be1704;
}

.logo {
    width: 70px;
}

.user {
    width: 50px;
    float: right;
    padding: 1em;
}


/* contenido */



.Nombre-restaurante {
    font-family: 'Times New Roman', Times, serif;
    color: #f4f4f4;
    text-align: center;
    background-color: #ef3620;
    padding: 0.1px;
    font-size: 1.5rem;
}

.restaurante {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.parallax {
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: black;
    position: relative;
}

.parallax img {
    position: absolute;
    width: 100%;
    height: 120%;
    bottom: 0;
    object-fit: cover;
}

.cont-rest {
    padding: 6rem;
    background-color: black;
    color: white;
}

.cont-rest h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cont-rest p {
    margin-bottom: 1rem;
}


/*Tabla de informacion*/


.subseccion {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.columna {
    width: 48%;
    /* Ajusta según sea necesario, ten en cuenta el espacio entre las columnas */
    padding: 10px;
}

.columna-izquierda {
    border-right: 1px solid #ccc;
}

.deta h2,
h3 {
    color: #333;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

/* Servicios */

.servi {
    list-style: none;
    padding: 4px;
    margin-left: 10px;

}

.servi li::before {
    content: "\2022";
    padding-right: 1rem;
    color: red;
}

/*contenedor*/

.contenedor {
    display: flex;
    width: auto;
    height: auto;
}

.detalles {
    max-width: 40%;
    max-height: 25%;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin-left: 35px;

}

.menu-rest {
    width: 50%;
    height: 35%;
    margin-top: 5%;
    margin-left: 25px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    border-radius: 25px 40px 25px 15px;
    left: 25px;
    align-items: center;

}

.menu {
    margin-top: 5%;
    background-color: #f4f4f4;

}

/*menu del resturante*/


.menu-ti {
    color: black;
    padding-left: 25px;
}


.menu {
    color: black;
    padding-left: 25px;
}

.subtitulo {
    color: black;
    padding-left: 25px;
}

.input-menu {
    color: #333;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 20px;

}

.button-menu {
    background-color: #ef3620;
    border-radius: 0px 20px 20px 0px;
    color: #f4f4f4;
    padding: 10px;
    margin-right: 20px;
}

.button-menu:hover {
    color: #ef3620;
    background-color: #f4f4f4;
    border-color: #ef3620;
}

.menu-import {
    display: flex;
}

/*calificación*/
.rating {
    display: flex;

}

.st {
    font-size: 20px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.st:hover,
.st.checked {
    color: gold;
}


/*subida de imagen*/

.menu-img {
    margin-top: 250%;
    width: 480px;
    height: 260px;
    margin-left: 350%;
    background-color: #f4f4f4;
    border: 1px solid #bbb;
    border-radius: 8px;
    position: absolute;

}

.fil {
    display: none;
}

.custom-file-label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 108px 180px;
    color: #be1704;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.custom-file-label:hover {
    color: #f4f4f4;
    background-color: #ef3620;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: 0.3s
}

.class-tit{
    width: 150%;
    margin-top: 215%;
    margin-left: 350%;
    position: absolute;
    font-size: 30px;

}

.class-tit:hover{
    color: #ef3620;
}


.class-img {
    position: absolute;
    width: 200px;
    height: 100px;
}

.class-Botones{
    display: flex;
    width: 150%;
    margin-top: 385%;
    margin-left: 390%;
    position: absolute;
    font-size: 30px;
    justify-content: center;
}

.c1{
    color: #f4f4f4;
    background-color: #be1704;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: none;
}

.c2{
    color: #f4f4f4;
    background-color: #be1704;
    border-radius: 0px 20px 20px 0px;
    border:none;
}

.c1:hover{
    color: #ef3620;
    background-color: #f4f4f4;
    border: 1px solid;
}

.c2:hover{
    color: #ef3620;
    background-color: #f4f4f4;
    border: 1px solid;
}

#carrusel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}

#carrusel img {
    max-width: 200px;
    max-height: 200px;
}

.carrusel {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .carrusel img {
    max-width: 100px;
    margin: 5px;
    vertical-align: top;
  }
  
  .boton-flecha {
    margin-top: 20px;
  }

.imagenes-h2{
   margin-left: 5%;
   font-size: 30px;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

.imagenes{
    border: 1px solid #ef3620;
    width: 99%;
    height: 100%;
}


/*footer*/

footer {
    background-color: #be1704;
}